/**/*.npz
/**/*.npy
/**/*.fits
/**/*.log
/**/*.pkl
/**/.DS_Store
/**/.DS_store
/**/__pycache__
/**/nilc_weight
/**/submit.sh
/data
/test_data
/test_data_beam
/tutorial_outputs
/test
nilc_dev.py
nilc_v0.py
nilc_memory.py
nilc_gpt.py
test_nilc_dev.py
